main {
    background-image: url(/src/images/3d-data-technology-background-with-flowing-waves.jpg);
    background-position: center;
    background-size: cover;
}

#toggleDrop{
    background: rgb(60,99,130);
    background: linear-gradient(180deg, rgba(60,99,130,1) 19%, rgba(255,255,255,1) 84%);
}

